<template>
  <article class="compare-view">
    <header class="control">
      <router-link to="/" class="button">Back</router-link>
    </header>
    <main class="compare-container">
      <section v-for="pokemon in species" :key="pokemon.id">
        <cards-component :pokemon="pokemon" is-single />
        <stats-component :stats="pokemon.pokemons[0].stats"/>
      </section>
    </main>
  </article>
</template>

<script>
import CardsComponent from '@/components/Cards.vue'
import StatsComponent from '@/components/Stats.vue'
import GetPokemonsQuery from '@/queries/getPokemons'

export default {
  name: 'CompareView',
  components: {
    CardsComponent,
    StatsComponent
  },
  data() {
    return {
      species: []
    }
  },
  apollo: {
    species: {
      query() {
        return GetPokemonsQuery([], [], false, false, true)
      },
      variables() {
        return {
          limit: 900,
          offset: 0,
          isComparing: true,
          compareList: JSON.parse(this.$route.params.compareList)
        }
      }
    }
  }
}
</script>

<style scoped>
.compare-container {
  display: flex;
  flex-wrap: wrap;
}
</style>
