<template>
  <article class="home">
    <header class="control">
      <button class="button filter" :class="{ active: shouldShowFilter }" @click="toggleFilter">Filter</button>
      <button class="button compare"
        :class="{ active: isComparing }"
        @click="isComparing = !isComparing"
      >
        Compare
      </button>
      <button class="button compare" v-if="compareList.length > 1" @click="startComparing">Start Comparing</button>
      <filter-component
        v-if="shouldShowFilter"
        class="filter-container"
        :types="filterPokemonTypes"
        :gens="filterPokemonGens"
        @filter-type="filterType"
        @filter-gen="filterGen"
        @filter-applied="filterApplied"
        @close-filter="toggleFilter"
      />
    </header>
    <main class="list">
      <cards-component
        v-for="pokemon in species"
        :key="pokemon.id"
        :pokemon="pokemon"
        :isComparing="isComparing"
        :currentCompareListLength="compareList.length"
        @compare="compare"
      />
      <section class="loading-container" v-if="$apollo.loading">
        <cards-component v-for="n in 10" :key="n" is-loading />
      </section>
    </main>
  </article>
</template>

<script>
import debounce from 'debounce'
import CardsComponent from '@/components/Cards.vue'
import FilterComponent from '@/components/Filter.vue'
import GetPokemonsQuery from '@/queries/getPokemons'
import { POKEMON_TYPES, POKEMON_GENS } from './constants'

const INFINITE_SCROLL_OFFSET = 200

export default {
  name: 'HomeView',
  components: {
    FilterComponent,
    CardsComponent
  },
  data () {
    return {
      species: [],
      offset: 0,
      limit: 20,
      page: 1,
      total: 0,
      shouldFetchMore: true,
      filterPokemonTypes: POKEMON_TYPES,
      filterPokemonGens: POKEMON_GENS,
      pokemonTypes: [],
      pokemonGens: [],
      isLegendary: false,
      isMythical: false,
      compareList: [],
      shouldShowFilter: false,
      isComparing: false,
      lastScrollTop: 0
    }
  },
  apollo: {
    species: {
      query() {
        return GetPokemonsQuery(this.pokemonTypes, this.pokemonGens, this.isLegendary, this.isMythical)
      },
      variables() {
        return {
          limit: this.limit,
          offset: 0,
          isComparing: false
        }
      },
      debounce: 500,
      result({ data }) {
        this.total = data.species_aggregate.aggregate.count
      }
    }
  },
  mounted() {
    window.addEventListener('scroll', debounce(this.scroll, 250, true))
  },
  methods: {
    fetchMore() {
      this.page++
      this.$apollo.queries.species.fetchMore({
        variables: {
          limit: this.limit,
          offset: this.page * this.limit,
          isComparing: false
        },
        updateQuery: (prev, { fetchMoreResult }) => {
          const newMons = fetchMoreResult.species
          this.species = [...prev.species, ...newMons]
          this.total = fetchMoreResult.species_aggregate.aggregate.count
        }
      })
    },
    scroll() {
      if (this.page * this.limit >= this.total) return

      const scrollTop = window.scrollY || document.documentElement.scrollTop
      const isScrollingDown = scrollTop > this.lastScrollTop
      this.lastScrollTop = scrollTop <= 0 ? 0 : scrollTop

      if (
        document.documentElement.scrollTop + window.innerHeight + INFINITE_SCROLL_OFFSET > document.documentElement.offsetHeight &&
        isScrollingDown
      ) {
        this.fetchMore()
      }
    },
    filterType(type) {
      const idx = this.filterPokemonTypes.findIndex(filter => filter.name === type.name)
      this.filterPokemonTypes[idx].selected = !this.filterPokemonTypes[idx].selected
    },
    filterGen(gen) {
      const idx = this.filterPokemonGens.findIndex(filter => filter.name === gen.name)
      this.filterPokemonGens[idx].selected = !this.filterPokemonGens[idx].selected
    },
    toggleFilter() {
      this.isComparing = false
      this.shouldShowFilter = !this.shouldShowFilter
    },
    closeFilter() {
      this.shouldShowFilter = false
    },
    filterApplied() {
      this.pokemonTypes = this.filterPokemonTypes.filter(filter => filter.selected).map(filter => filter.name)
      this.pokemonGens = this.filterPokemonGens.filter(filter => filter.selected).map(filter => filter.name)

      const variables = {
        offset: this.offset
      }

      if (this.pokemonTypes.length > 0) variables.pokemonTypes = this.pokemonTypes
      if (this.pokemonGens.length > 0) variables.pokemonGens = this.pokemonGens

      this.$apollo.queries.species.setVariables(variables)
      this.closeFilter()
    },
    compare(compared, pokemon) {
      this.closeFilter()

      if (compared) {
        this.compareList.push(pokemon.name)
        return
      }

      const idx = this.compareList.findIndex(list => list === pokemon.name)
      this.compareList.splice(idx, 1)
    },
    startComparing() {
      this.$router.push({ name: 'compare', params: { compareList: JSON.stringify(this.compareList) } })
    }
  }
}
</script>

<style scoped>
.button.filter {
  margin-right: 8px;
}

.button.compare.active {
  margin-right: 8px;
}

.filter-container {
  border-bottom: solid 1px #1e1e1e;

  display: flex;
  width: 100vw;

  flex-direction: column;
  align-items: flex-start;

  padding: 12px 24px;

  background: #fff;

  position: fixed;
  top: 64px;
  left: 0;
  z-index: 10;
}

.list,
.loading-container {
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.list {
  margin-top: 76px;
}
</style>
