<template>
  <article class="compare-view">
    <header class="control">
      <router-link to="/" class="button">Back</router-link>
    </header>
    <main v-if="species.length > 0">
      <cards-component :pokemon="species[0]" is-single />
      <stats-component :stats="species[0].pokemons[0].stats"/>
    </main>
  </article>
</template>

<script>
import CardsComponent from '@/components/Cards.vue'
import StatsComponent from '@/components/Stats.vue'
import GetPokemonsQuery from '@/queries/getPokemons'

export default {
  name: 'SingleView',
  components: {
    CardsComponent,
    StatsComponent
  },
  data() {
    return {
      species: []
    }
  },
  apollo: {
    species: {
      query() {
        return GetPokemonsQuery([], [], false, false, true)
      },
      variables() {
        return {
          offset: 0,
          isComparing: true,
          compareList: [this.$route.params.name]
        }
      }
    }
  }
}
</script>
