<template>
  <section class="badge" :class="badgeClass" @click="$emit('click')">
    <span v-if="selected">+</span>
    <span>{{type}}</span>
  </section>
</template>

<script>
export default {
  name: 'BadgesComponent',
  props: {
    type: {
      type: String,
      required: true
    },
    selected: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    badgeClass() {
      const classes = {}
      classes[this.type] = true

      return classes
    }
  }
}
</script>

<style scoped>
.badge {
  margin: 0 4px 4px 0;

  border-radius: 0.5rem;

  padding: 4px 8px;

  font-size: 12px;
  color: #fff;
}

.badge.fire {
  background-color: var(--bg-fire);
}

.badge.grass {
  background-color: var(--bg-grass);
}

.badge.water,
.badge.ice {
  background-color: var(--bg-water);
}

.badge.bug {
  background-color: var(--bg-bug);
}

.badge.normal {
  background-color: var(--bg-normal);
}

.badge.poison {
  background-color: var(--bg-poison);
}

.badge.electric {
  background-color: var(--bg-electric);
}

.badge.fighting {
  background-color: var(--bg-fighting);
}

.badge.ground,
.badge.rock {
  background-color: var(--bg-ground);
}

.badge.fighting {
  background-color: var(--bg-fighting);
}

.badge.fairy {
  background-color: var(--bg-fairy);
}

.badge.psychic {
  background-color: var(--bg-psychic);
}

.badge.ghost {
  background-color: var(--bg-ghost);
}

.badge.dragon {
  background-color: var(--bg-dragon);
}

.badge.dark {
  background-color: var(--bg-dark);
}

.badge.steel {
  background-color: var(--bg-steel);
}

.badge.flying {
  background-color: var(--bg-flying);
}

</style>
