<template>
  <section class="wrapper" :class="wrapperClass">
    <div class="loading" v-if="isLoading"></div>
    <div class="legendary" v-if="pokemon.is_legendary"></div>
    <div class="mythical" v-if="pokemon.is_mythical"></div>
    <button class="checkbox" v-if="isComparing" @click="compareClick">
      <div class="compared" v-if="compared"></div>
    </button>
    <div v-if="!isLoading" class="info-container" :class="infoContainerClass" @click="routePushSingle">
      <img :src="imgSrc" alt="Bulbasaur">
      <section class="info">
        <span class="id">#{{pokemonIdPad(pokemon.id)}}</span>
        <span class="name">{{pokemon.name}}</span>
        <div class="badges">
          <badges-component v-for="type in pokemonTypes" :key="type.type.name" :type="type.type.name" />
        </div>
      </section>
    </div>
  </section>
</template>

<script>
import BadgesComponent from './Badges.vue'

export default {
  name: 'CardsComponent',
  components: {
    BadgesComponent
  },
  props: {
    pokemon: {
      type: Object,
      default: () => ({ pokemons: [{}] })
    },
    isComparing: {
      type: Boolean,
      default: false
    },
    isSingle: {
      type: Boolean,
      default: false
    },
    isLoading: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      compared: false
    }
  },
  computed: {
    imgSrc() {
      const id = this.pokemon.id || 1
      return `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`
    },
    pokemonTypes() {
      return this.pokemon.pokemons[0].types || [{ type: { name: 'none' } }]
    },
    wrapperClass() {
      const classes = {
        load: this.isLoading
      }
      classes[this.pokemonTypes[0].type.name] = true

      return classes
    },
    infoContainerClass() {
      return {
        'is-comparing': this.isComparing || this.isSingle
      }
    }
  },
  methods: {
    pokemonIdPad(id) {
      return id.toLocaleString('en-US', { minimumIntegerDigits: 3, useGrouping: false })
    },
    compareClick() {
      this.compared = !this.compared

      this.$emit('compare', this.compared, this.pokemon)
    },
    routePushSingle() {
      if (this.isComparing || this.isSingle) return

      this.$router.push({ name: 'single', params: { name: this.pokemon.name } })
    }
  }
}
</script>

<style scoped>
@keyframes shine {
  0% {transform:translateX(-100%) translateY(-100%) rotate(30deg);}
  80% {transform:translateX(-100%) translateY(-100%) rotate(30deg);}
  100% {transform:translateX(100%) translateY(100%) rotate(30deg);}
}

@keyframes loading {
  0% {transform:translateX(-25%) translateY(0%);}
  100% {transform:translateX(25%) translateY(0%);}
}

.wrapper {
  margin: 12px 12px;

  border-radius: 15%;

  display: flex;
  width: 300px;
  height: 300px;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  overflow: hidden;
}

.wrapper.load {
  background-color: #9e9e9e;
}

.wrapper.fire {
  background-color: var(--bg-fire-light);
}

.wrapper.grass {
  background-color: var(--bg-grass-light);
}

.wrapper.water,
.wrapper.ice {
  background-color: var(--bg-water-light);
}

.wrapper.bug {
  background-color: var(--bg-bug-light);
}

.wrapper.normal {
  background-color: var(--bg-normal-light);
}

.wrapper.poison {
  background-color: var(--bg-poison-light);
}

.wrapper.electric {
  background-color: var(--bg-electric-light);
}

.wrapper.fighting {
  background-color: var(--bg-fighting-light);
}

.wrapper.ground,
.wrapper.rock {
  background-color: var(--bg-ground-light);
}

.wrapper.fighting {
  background-color: var(--bg-fighting-light);
}

.wrapper.fairy {
  background-color: var(--bg-fairy-light);
}

.wrapper.psychic {
  background-color: var(--bg-psychic-light);
}

.wrapper.ghost {
  background-color: var(--bg-ghost-light);
}

.wrapper.dragon {
  background-color: var(--bg-dragon-light);
}

.wrapper.dark {
  background-color: var(--bg-dark-light);
}

.wrapper.steel {
  background-color: var(--bg-steel-light);
}

.wrapper.flying {
  background-color: var(--bg-flying-light);
}

.legendary,
.mythical {
  width: 500px;
  height: 500px;

  position: absolute;
  z-index: 0;

  animation: shine 3.5s infinite ease-out;
}

.loading {
  width: 600px;
  height: 300px;

  background: linear-gradient(to right, rgba(255,255,255,25%), rgba(255,255,255,75%), rgba(255,255,255,50%));

  position: absolute;
  z-index: 0;

  animation: loading 1.5s linear 0s infinite alternate;
}

.legendary {
  background: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(255,255,255,75%), rgba(0,0,0,0));
}

.mythical {
  background: linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
}

.checkbox {
  border: solid 2px #1e1e1e;
  border-radius: 2px;

  width: 24px;
  height: 24px;

  background: transparent;

  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 10;
}

.compared {
  border-radius: 2px;

  width: 16px;
  height: 16px;

  background: #1e1e1e;

  position: absolute;
  top: 2px;
  left: 2px;
}

.info-container {
  display: flex;
  width: 100%;
  height: 100%;

  flex-direction: column;
  align-items: center;

  padding: 24px;

  position: relative;
  z-index: 1;

  cursor: pointer;
}

.info-container.is-comparing {
  cursor: auto;
}

img {
  display: block;
  width: 150px;
  height: 150px;
}

.info {
  margin-top: 24px;

  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.id {
  font-weight: 300;
}

.name {
  font-weight: 700;
  text-transform: capitalize;
}

.badges {
  margin-top: 8px;

  display: flex;
}
</style>
