<template>
  <section>
    <section class="types">
      <h4>By Types</h4>
      <section class="badges">
        <badges-component
          v-for="type in types"
          :key="type.name"
          :selected="type.selected"
          :type="type.name"
          @click="filterType(type)"
        />
      </section>
    </section>
    <section class="generations">
      <h4>By Generations</h4>
      <section class="badges">
        <section class="gen" v-for="gen in gens" :key="gen.name" @click="filterGen(gen)">
          <span v-if="gen.selected">+</span>
          <span>{{gen.name}}</span>
        </section>
      </section>
    </section>
    <section class="actions">
      <button class="button save" @click="filterApplied">Apply Filter</button>
      <button class="button cancel" @click="closeFilter">Cancel</button>
    </section>
  </section>
</template>

<script>
import BadgesComponent from './Badges.vue'

export default {
  name: 'FilterComponent',
  props: {
    types: {
      type: Array,
      required: true
    },
    gens: {
      type: Array,
      required: true
    }
  },
  components: {
    BadgesComponent
  },
  methods: {
    filterType(type) {
      this.$emit('filter-type', type)
    },
    filterGen(gen) {
      this.$emit('filter-gen', gen)
    },
    filterApplied() {
      this.$emit('filter-applied')
    },
    closeFilter() {
      this.$emit('close-filter')
    }
  }
}
</script>

<style scoped>
h4 {
  margin: 0 0 12px 0;

  text-align: left;
}

.types {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.badges {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.generations {
  margin-top: 12px;
}

.gen {
  margin: 0 4px 4px 0;

  border: solid 1px #4f4f4f;
  border-radius: 0.5rem;

  padding: 4px 8px;

  font-size: 12px;

  cursor: pointer;
}

.actions {
  margin-top: 24px;
}

.button {
  margin-right: 12px;

  border: none;
  border-radius: 0.5rem;

  padding: 8px 16px;

  cursor: pointer;
}

.button.save {
  background-color: var(--bg-electric);
}
</style>
