<template>
  <section class="stats-container">
    <div v-for="stat in stats" :key="stat.stat.name" class="stat">
      <span>{{ $options.STATS_TITLE[stat.stat.name] }}</span>
      <span>{{ stat.base_stat }}</span>
      <div class="meter">
        <div class="meter-actual" :style="`width: calc(${stat.base_stat / 2.55}%)`"></div>
      </div>
    </div>
  </section>
</template>

<script>
const STATS_TITLE = {
  hp: 'HP',
  attack: 'Attack',
  defense: 'Defense',
  'special-attack': 'Sp. Attack',
  'special-defense': 'Sp. Defense',
  speed: 'Speed'
}

export default {
  name: 'StatsComponent',
  props: {
    stats: {
      type: Array,
      required: true
    }
  },
  STATS_TITLE
}
</script>

<style scoped>
.stats-container {
  display: flex;
  width: 300px;

  flex-direction: column;

  padding: 24px;
}

.stat {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.stat:not(:last-child) {
  margin-bottom: 12px;
}

.meter {
  border-radius: 16px;

  width: 255px;
  height: 16px;

  background-color: #e1e1e1;
}

.meter-actual {
  border-radius: 16px;

  height: 16px;

  background-color: var(--bg-water);
}
</style>
