<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
import './main.css'

export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
