:root {
  --bg-fire-light: #ffc8a9;
  --bg-grass-light: #b5eaaf;
  --bg-water-light: #afd9ff;
  --bg-ice-light: var(--bg-water-light);
  --bg-bug-light: #d4dfa7;
  --bg-normal-light: #e4e0cf;
  --bg-poison-light: #e6c2ef;
  --bg-electric-light: #ffe9a7;
  --bg-ground-light: #ecd8b4;
  --bg-rock-light: var(--bg-ground-light);
  --bg-fighting-light: #e7bdb8;
  --bg-fairy-light: #fdf;
  --bg-psychic-light: #ffcbde;
  --bg-ghost-light: #cbc1e8;
  --bg-dragon-light: #b9b9fc;
  --bg-dark-light: #c9c0c0;
  --bg-steel-light: #d9d7e5;
  --bg-flying-light: #cbdeff;

  --bg-fire: #e76b2f;
  --bg-grass: #4fb443;
  --bg-water: #3a8be9;
  --bg-ice: var(--bg-water);
  --bg-bug: #889e2a;
  --bg-normal: #afa485;
  --bg-poison: #a15ab1;
  --bg-electric: #f4c234;
  --bg-ground: #b7904b;
  --bg-rock: var(--bg-ground);
  --bg-fighting: #9b4840;
  --bg-fairy: #f9a8ef;
  --bg-psychic: #f5779e;
  --bg-ghost: #65539d;
  --bg-dragon: #3b3bbb;
  --bg-dark: #5e4c4c;
  --bg-steel: #908da9;
  --bg-flying: #7a9ff2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.control {
  border-bottom: solid 1px #1e1e1e;

  display: flex;
  width: 100vw;
  height: 64px;

  align-items: center;

  padding: 12px 24px;

  background: #fff;

  position: fixed;
  top: 0;
  z-index: 10;
}

.button {
  border: solid 2px #1e1e1e;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px 16px;

  background: transparent;

  font-size: 12px;
  color: #1e1e1e;
  text-decoration: none;

  cursor: pointer;
}

.button.active {
  background: #1e1e1e;

  color: #eaeaea;
}

.compare-view {
  margin-top: 76px;

  display: flex;
  justify-content: center;
}
